.PostRender {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
}
.PostRenderMessage {
  border: 2px solid #ffd7d7;
  border-radius: 55px;
  padding: 10px;
  margin-top: 20px;
  width: 85%;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.PostRenderMessage p {
  margin-left: 10px;
}

.ImgPost {
  @include Flexcolumn-center;
}

.ImgPost img {
  object-fit: cover;
  height: 25vh;
  width: 95%;
  border-radius: 35px 35px 35px 35px;
  box-sizing: border-box;
}

.BtnPost {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 5rem;
}

.BtnPost Button {
  color: black;
  width: 86%;
  font-size: 16px;
  @include flexrow-center;
}


.Icon-1 {
  height: 2rem;
  width:30px;
  cursor: pointer;
  position: relative;
}

.Icon-2 {
width: 20px;
position: absolute;
right: 30px;

}

.Like-active {
  color: $color-primary;
}

anim-like {
  animation:anim-like 0.6s
}

.ImgProfil {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.ImgProfil img {
  height: 1.5rem;
  width: 10%;
  border: 2px solid black;
  border-radius: 35px;
  padding: 5px;
}

.pseudo {
  margin-left: 1rem;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .PostRenderMessage {
    padding: 20px;
    width: 80%;
  }

  .BtnPost Button {
    width: 100%;
    font-size: 18px;
  }

  .ImgPost img {
    height: 40vh;
  }

  .ImgProfil img {
    width: 5%;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {
  .PostRenderMessage p {
    margin-left: 40px;
  }

  .ImgPost img {
    margin-top: 2rem;
    height: 50vh;
    width: 90%;
  }

  .BtnPost Button {
    width: 100%;
  }

  .ImgProfil img {
    width: 5%;
    margin-left: 40px;
  }
}

@media all and (min-width: 1440px) {
  .PostRenderMessage p {
    margin-left: 50px;
  }

  .PostRenderMessage {
    width: 67%;
  }

  .BtnPost Button {
    font-size: 20px;
  }

  .ImgPost img {
    height: 50vh;
  }

  .ImgProfil img {
    width: 3%;
    margin-left: 50px;
  }
}
