.FormPost {
  height: 18vh;
  @include Flexcolumn-center;
  position: relative;
}

.FormInputPost .InputMessage {
  height: 9vh;
  width: 100%;
  margin-bottom: 50px;
  border-radius: 45px;
  font-size: 1.5rem;
  font-weight: bold;
  border: 15px gray;
  box-shadow: 0px 0px 0px 25px gray;
}

.ImgUpload {
  position: absolute;
  top: 4.5rem;
  right: 3rem;
}

.ImgUpload img {
  height: 2rem;
}

.Image {
  position: absolute;
  right: 1rem;
  top: 0rem;
}

.ImgUploadFile {
  position: relative;
  left: 13rem;
  width: 14%;
  opacity: 0;
}

.FormBtn {
  position: absolute;
  top: 7.5rem;
  left: 8rem;
}

@media screen and (min-width: 425px) and (max-width: 768px) {
  .FormInputPost {
   width: 80%;
  }

  .FormBtn {
    top: 7rem;
    left: 10rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .FormInputPost {
    width: 80%;
    height: 30vh;
  }

  .ImgUpload {
    top: 4rem;
    right: 10rem;
  }

  .FormBtn {
    top: 7rem;
    left: 20rem;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {
  .FormInputPost {
    height: 35vh;
  }

  .FormInputPost .InputMessage {
    height: 15vh;
    margin-bottom: 3rem;
    border-radius: 65px;
  }

  .ImgUpload {
    right: 10rem;
  }

  .FormBtn {
    left: 28rem;
    top: 7.3rem;
  }
}

@media all and (min-width: 1440px) {
  .FormInputPost {
    width: 65%;
    height: 50vh;
  }

  .ImgUpload {
    right: 20rem;
  }

  .FormBtn {
    left: 42rem;
  }
}
