.PostRender {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.PostRenderMessage {
  border: 2px solid #ffd7d7;
  border-radius: 55px;
  padding: 10px;
  width: 85%;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.ImgPost {
  @include Flexcolumn-center;
}

.ImgPost img {
  object-fit: cover;
  height: 25vh;
  width: 95%;
  border-radius: 35px 35px 35px 35px;
}

.BtnPost {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 5rem;
}

.BtnPost Button {
  color: black;
  width: 86%;
  font-size: 16px;
  @include flexrow-center;
}

.Icon-like {
  height: 2rem;
  width: 100%;
  margin-right: 2rem;
  cursor: pointer;
}

.Like-active {
  color: $color-primary;
}

.ImgProfil {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.ImgProfil img {
  height: 1.5rem;
  width: 10%;
  border: 2px solid black;
  border-radius: 35px;
  padding: 5px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .FormInputPost {
    width: 80%;
    height: 20vh;
  }

  .ImgUpload {
    right: 10rem;
  }

  .FormBtn {
    left: 20rem;
  }

  .BtnPost Button {
    width: 100%;
    margin: 2rem;
  }

  .BtnSend Button {
    width: 100%;
    margin: 2rem;
  }

  .ImgProfil img {
    width: 5%;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {
  .FormInputPost {
    height: 30vh;
  }
  .FormInputPost .InputMessage {
    height: 15vh;
    margin-bottom: 3rem;
    border-radius: 65px;
  }

  .ImgUpload {
    right: 10rem;
  }

  .ImgPost img {
    margin-top: 2rem;
    height: 45vh;
    width: 85%;
  }

  .FormBtn {
    left: 28rem;
  }

  .BtnPost Button {
    width: 80%;
    margin: 2rem;
  }

  .BtnSend Button {
    width: 100%;
    margin: 2rem;
  }

  .ImgProfil img {
    width: 5%;
  }
}

@media all and (min-width: 1440px) {
  .FormInputPost {
    width: 65%;
    height: 40vh;
  }

  .ImgUpload {
    right: 20rem;
  }

  .FormBtn {
    left: 42rem;
  }

  .PostRenderMessage {
    width: 67%;
  }

  .ImgPost img {
    height: 50vh;
  }

  .ImgProfil img {
    width: 3%;
  }
}
