// .FormInput{
//     height: 10vh;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     font-weight: bold;
//     justify-content: space-between;
// }
.FormPost{
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
}

.FormInputPost{
    height: 12vh;
    width:36rem;
    margin-bottom: 6px;
    border-radius: 15rem;
    font-size: 20px;
    font-weight: bold;
    border: 15px gray;
    box-shadow: 0px 0px 0px 25px gray;
}

.FormBtn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 2rem;
    font-size: 3vh;
    font-weight: bold;
}

.PostRender{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
   
   
}
.PostRenderMessage{

border:2px solid  #ffd7d7;
border-radius: 55px;
padding: 45px;
width: 33rem;
background-color: white;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}