// ecrire la font-face, les couleurs, les mixins etc..

/*Variables*/
$color-primary:  #FD2D01;
$color-secondary: #FFD7D7;
$color-tertiary: #4E5166;

#root{
    height: 800px;
    background-image:linear-gradient(to top, $color-tertiary, $color-secondary);
}