.App {
  text-align: center;
}

form {
  padding-top: 50px;
  font-size: 1.5rem;
  font-weight: bold;
}

.FormInput {
  @include Flexcolumn-center;
  height: 8vh;
  margin-bottom: 50px;
}

.FormInput input {
  width: 75%;
  height: 10vh;
  border-radius: 25px;
  margin-top: 5px;
  padding: 15px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .FormInput input {
    width: 40%;
  }
}

@media all and (min-width: 1024px) {
  .FormInput input {
    width: 25%;
  }
}
